$font-principal: white;
$font-size-h2: 2.4rem;
$font-size-h3:2rem;
$background-rgba-dark: rgba(51, 51, 51, 0.9);
$backgroud-rgba-light: rgba(255, 255, 255,0.6);
$box-shadow: 7px 13px 37px #000;
$box-light:  0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;