body{
    text-align: center;
    font-family: 'Poiret One', sans-serif;
    background-image: url(../images/womanSunset.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
}