@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poiret+One&display=swap');
/* font-family: 'Oswald', sans-serif;
font-family: 'Poiret One', cursive; 
font-family: 'Dancing Script', cursive;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html{
    font-size: 62.5%;
    height: 100%;
}